[Unit]
# description can be seen with journalctl
Description=My oneshot example service

[Service]
Type=oneshot
# myoneshot-startapp will be executed at the start of the service
ExecStart=@BINDIR@/myoneshot-startapp
# service should remain active after exit of myoneshot-startapp
RemainAfterExit=true
# myoneshot-stopapp will be executed after stop of service
ExecStop=@BINDIR@/myoneshot-stopapp

# services should be started as unprivileged processes, because they are subject of full permission checking
# start the service as user with the rights of the user, the user must exist
# User=service-user

# Controls which capabilities to include in the capability bounding set for the executed process
# to find a list of all capabilities: http://man7.org/linux/man-pages/man7/capabilities.7.html
# CAP_SYSLOG is necessary since myoneshot-service reads the number of bytes currently available to be read from the kernel log buffer
CapabilityBoundingSet=CAP_SYSLOG
# If you replace CAP_SYSLOG with another capability you will get an error message if myoneshot service tries to read the number of bytes currently available to be read from the kernel log buffer
#CapabilityBoundingSet=CAP_SYS_MODULE

# Example options for Sandboxing:
# More information can be found on: https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# should be set that the service cannot gain new privileges
NoNewPrivileges=yes
# sets up a new filesystem namespace for the process and mounts /tmp and /var/tmp inside
PrivateTmp=yes
# sets up a new /dev mount for the executed processes adds pseudo devices as /dev/null but no physical devices
PrivateDevices=yes
# Mounts empty directories to /home, /root and /run/user for the service
ProtectHome=yes
# service cannot manipulate control groups
ProtectControlGroups=yes
# service cannot load and unload kernel modules
ProtectKernelModules=yes
# service cannot create and switch namespaces
RestrictNamespaces=yes
# service cannot enable realtime scheduling policies
RestrictRealtime=yes
# space separated list of system calls that the service cannot execute
SystemCallFilter=@mount @reboot
StandardOutput=journal

[Install]
WantedBy=multi-user.target
